/*ウィンドウ幅が最大767pxまでの場合に適用(タブレット用)*/
@media screen and (max-width: 767px) {

    .wrapper {
        width: 250px;
    }

.content {
   width: 150px;
}

.side{
	width: 100px;
    }


    /*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 479px) {

    .wrapper {
        width: 150px;
    }

   .center {
        float: none; /* 要素の浮動化の解除 */
        width: 150px;
    }

    .side{
	width: 150px;
    }
