body {
    width: 100%;
}

.wrapper {
    width:400px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100px;
    background: #141f40;
}

.content {
    float: left;
    width: 150px;
    height: 250px;
    background: #80bfa8;
}

.side {
    float: right;
    width: 250px;
    height: 250px;
    background: #8c2727;    
}

.footer {
    width: 100%;
    height: 100px;
    background: #d98b30;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.contents {
width: auto; /* 横幅を親要素の幅に合わせる */
float: none; /* 要素の浮動化の解除 */
}